.link, .link__forgot {
    color: #B29F7E;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    text-align: end;
    margin-top: 10px;
}