.wrapper {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error__link {
    color: #B29F7E;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    line-height: 2;
}

.info {
    text-align: center;
}

.title {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}